#set-height {
  display: block;
}
#v0 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
p font-family helvetica {
  font-size: 24px;
}

.font {
  font-family: "Lucida Console", "Courier New", monospace;
}

/* nft */

.colorfont {
  color: black;
  opacity: 0.8;
}

.colorfont1{
  color: black;
  opacity: 0.5;
}
.column1 {
  max-width:100%;
  align: center;
  display:inline-block;
  vertical-align: center;
  margin-right:10px;
  margin-left: 6%;
  margin-top: 1%;
  justify-content: left;
}

.nft-features-btn {
  max-width:100%;
  width: 80%;
  height: 40px;
  background: white;
  border: 1px solid Gainsboro;
  border-bottom: none;
  text-align: right;
  font-size: 15px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  justify-content: space-between;
}

.last {
  border: 1px solid Gainsboro;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.nft-image{
  max-width:100%;
  height:80%;
  width:80%;
  border: 8px;
}

.icons-btn {
  justify-content: right;
}

.column2 {
  max-width:100%;
  display: flex;
  flex: column;
  justify-content: right;
  align: vertical;
  margin-top: -45%;
  margin-right: 10%;
}

.topbar {
  width: 50%;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  margin-right: 50px;
}

.icons-bar {
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: right;
  border: 2px solid Gainsboro;
  border-radius: 8px;
  margin-left: 90%;
} 

.divider {
  border-left: 2px solid Gainsboro;
  height: 35px;
}

.shareicons {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.title {
  margin-top: 4%;
  font-size: 30px;
}

.fixedposition {
  position: fixed;
  bottom: 5;
  left: 38%;
}

.owned {
  font-family: Arial, Helvetica, sans-serif;
  display: fixed;
  margin-top: 8%;
  align-items: center;
}

.link {
  font-size: 15px;
  color: DodgerBlue;
}

.you{
  margin-left: 76px;
  margin-top: 17px;
}

.viewicon {
  width: 14%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
}
.align {
  display: flex;
  align-items: center;
}

.align1 {
  padding: 10px;
}

.heart {
  position:relative; 
  left:720%;
  display: flex;
  align-items: center;
  color: black;
  opacity: 0.5;
}

.heart:hover {
  color: FireBrick;
  opacity: 1;
}

.description {
  height: 20%;
  display: flex;
}

.col1 {
  margin-top:11%;
  width: 75%;
  height: 10%;
}

.backarrow {
  position: fixed;
  top: 2%;
  left: 1%;
}

/* nfts */

.myProducts {
  margin: 2%;
  font-size: 280%;
  font-weight: normal;
}

.cards {
  border: none;
  display: flex;
}

.logout-btn {
  position: fixed;
  top: 2%;
  right: 2%;
  background-color: red;
  color: white;
  border: 2px solid #f44336;
  text-align: center;
  color: white;
  border-radius: 20px;
  font-size: 14px;
}

.logout-btn:hover {
  background-color: #f44336;
  color: white;
  border: 2px solid #f44336;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* nft card */

.card {
  align-self: flex-start;
  margin: 0.75rem 0.75rem;
  background: white;
}

.card-image{
  width: 100%;
  border-top-left-radius: 6%;
  border-top-right-radius: 6%;
}

.card-title {
  font-size: 150%;
}

/* .logout {
  position: fixed;
  bottom: 2%;
  right: 2%;
} */

.card-container {
  width: 22%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
  margin-left:4%;
  border-radius: 6%;
}

.card-info {
  text-align: left;
  align-items: center;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 4%;
}

/* landing */
.landing {
  text-align: left;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

.title-landing {
  color: #000000;
  font-size: 500%;
}

.description-landing {
  font-size: 200%;
}

.fingerprint-landing {

}

.header {
  width: 100%;
  margin-left: 2%;
  overflow: hidden;
}

.btn-landing{
  font-size: 18px;
  text-decoration: underline;
}

.btn-landing:hover{
  font-size: 18px;
  background-color: lightgrey;
}

/* about us */

.aboutus {
  width: 40%;
  text-align: justify;
  text-justify: inter-word;
  display: block;
  margin-left: 16%;
  margin-top: 4%;
  line-height: 1.8;
}

.howitworks {
  text-decoration: underline;
  color: blue;
}

.aboutus-title{
  font-size: 70px;
  margin-top: 3%;
  margin-left: 5%;
}

.us-title{
  font-size: 50px;
  margin-top: 3%;
  margin-left: 5%;
}

.us{
  margin-top: 2%;
  margin-left: 10%;
}

.gayba{
  margin-left: 58%;
}

/* profile */
.profile {
  width: 18%;
}

.profile-img{
  width: 100%;
  margin-top:2%;
  border-bottom-right-radius: 6%;
  border-bottom-left-radius: 6%;
}

.profile-title{
  font-size: 20px;
  text-align: center;
  margin-top: 2%;
}