#set-height {
  display: block;
}
#v0 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
p font-family helvetica {
  font-size: 24px;
}

.colorfont {
  color: black;
  opacity: 0.8;
}

.colorfont1{
  color: black;
  opacity: 0.5;
}
.column1 {
  max-width:100%;
  align: center;
  display:inline-block;
  vertical-align: center;
  margin-right:10px;
  margin-left: 4%;
  margin-top: 1%;
  justify-content: left;
}

.nft-features-btn {
  max-width:100%;
  width: 75%;
  height: 40px;
  background: white;
  border: 1px solid Gainsboro;
  border-bottom: none;
  text-align: right;
  font-size: 15px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  justify-content: space-between;
}

.last {
  border: 1px solid Gainsboro;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.nft-image{
  max-width:100%;
  height:75%;
  width:75%
}

.icons-btn {
  justify-content: right;
}

.column2 {
  max-width:100%;
  display: flex;
  flex: column;
  justify-content: right;
  align: vertical;
  margin-top: -49%;
  margin-right: 10%;
}

.topbar {
  width: 50%;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  margin-right: 50px;
}

.icons-bar {
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: right;
  border: 2px solid Gainsboro;
  border-radius: 8px;
  margin-left: 90%;
} 

.divider {
  border-left: 2px solid Gainsboro;
  height: 35px;
}

.shareicons {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.title {
  margin-top: 4%;
  font-size: 30px;
}

.fixedposition {
  position: fixed;
  bottom: 5;
  left: 38%;
}

.owned {
  font-family: Arial, Helvetica, sans-serif;
  display: fixed;
  margin-top: 8%;
  align-items: center;
}

.link {
  font-size: 15px;
  color: DodgerBlue;
}

.you{
  margin-left: 76px;
  margin-top: 17px;
}

.viewicon {
  width: 14%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
}
.align {
  display: flex;
  align-items: center;
}

.align1 {
  padding: 10px;
}

.heart {
  position:relative; 
  left:670%;
  color: FireBrick;
  display: flex;
  align-items: center;
}

.description {
  height: 20%;
  display: flex;
}

.col1 {
  margin-top:11%;
  width: 75%;
  height: 10%;
}

.backarrow {
  position: fixed;
  top: 2%;
  left: 1%;
}

.logout {
  position: fixed;
  bottom: 2%;
  right: 2%;
}

/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ebecf0;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;

  a {
    text-decoration: none;
    color: #172b4d;
  }

  h1 {
    font-family: "Song Myung", serif;
  }
}

DEFAULT STYLE
:root {
  font-size: 16px;
  --card-img-height: 200px;
}
.card-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
}

.card {
  align-self: flex-start;
  position: relative;
  width: 325px;
  min-width: 275px;
  margin: 1.25rem 0.75rem;
  background: white;
  transition: all 300ms ease-in-out;

  .card-img {
    visibility: hidden;
    width: 100%;
    height: var(--card-img-height);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .card-img-hovered {
    --card-img-hovered-overlay: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    );
    transition: all 350ms ease-in-out;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    position: absolute;
    height: var(--card-img-height);
    top: 0;
  }

  .card-info {
    position: relative;
    padding: 0.75rem 1.25rem;
    transition: all 200ms ease-in-out;

    .card-about {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.75rem 0;
      transition: all 200ms ease-in-out;

      .card-tag {
        width: 60px;
        max-width: 100px;
        padding: 0.2rem 0.5rem;
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        background: #505f79;
        color: #fff;

        &.tag-news {
          background: #36b37e;
        }

        &.tag-deals {
          background: #ffab00;
        }

        &.tag-politics {
          width: 71px;
          background: #ff5630;
        }
      }
    }

    .card-title {
      z-index: 10;
      font-size: 1.5rem;
      padding-bottom: 0.75rem;
      transition: all 350ms ease-in-out;
    }

    .card-creator {
      padding-bottom: 0.75rem;
      transition: all 250ms ease-in-out;
    }
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0px 15px 35px rgba(227, 252, 239, 0.1),
      0px 5px 15px rgba(0, 0, 0, 0.07);
    transform: scale(1.025);

    .card-img-hovered {
      --card-img-hovered-overlay: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.65)
      );
      height: 100%;
    }

    .card-about,
    .card-creator {
      opacity: 0;
    }

    .card-info {
      background-color: transparent;
    }

    .card-title {
      color: #ebecf0;
      transform: translate(0,40px);
    }
  }
}

// CARD IMAGES
.card-1 {
  .card-img,
  .card-img-hovered {
    background-image: var(--card-img-hovered-overlay),
      url(https://source.unsplash.com/Qm_n6aoYzDs);
      url("../public/images/shoe.png")
  }
}

.card-2 {
  .card-img,
  .card-img-hovered {
    background-image: var(--card-img-hovered-overlay),
      url(https://source.unsplash.com/C-v1p2DTakA);
  }
}

.card-3 {
  .card-img,
  .card-img-hovered {
    background-image: var(--card-img-hovered-overlay),
      url(https://source.unsplash.com/V0L1LH7qWOQ);
  }
}

.card-4 {
  .card-img,
  .card-img-hovered {
    background-image: var(--card-img-hovered-overlay),
      url(https://source.unsplash.com/zAi2Is48-MA);
  }
} */
